# code: language=toml
umask = "0o022"
encryption = "gpg"
[gpg]
  recipient = "ECC395B798725570D8699DCB5B3BAADEDDEE156E"

[data.me]
fullname = "David Jack Wange Olrik"

[data.me.email]
personal = "david.personal@example.com"
work = "david.work@example.com"

[data.me.github]
username = "davidolrik"

[data.me.gpg]
fingerprint = "ECC395B798725570D8699DCB5B3BAADEDDEE156E"
